
@font-face {
	font-family: 'builder-ui-icons-plugins';
	src:  url('fonts/builder-ui-icons-plugins.eot?b4p9x3');
	src:  url('fonts/builder-ui-icons-plugins.eot?b4p9x3#iefix') format('embedded-opentype'),
		url('fonts/builder-ui-icons-plugins.ttf?b4p9x3') format('truetype'),
		url('fonts/builder-ui-icons-plugins.woff?b4p9x3') format('woff'),
		url('fonts/builder-ui-icons-plugins.svg?b4p9x3#builder-ui-icons-plugins') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.ico-tb-text,
.ico-tb-picture,
.ico-tb-gallery,
.ico-tb-youtube,
.ico-tb-google-maps,
.ico-tb-shape,
.ico-tb-line,
.ico-tb-button,
.ico-tb-form,
.ico-tb-menu,
.ico-tb-lang,
i.icon-wb-admin, .icon-wb-admin,
i.icon-wb-social, .icon-wb-social,
i.icon-wb-advanced, .icon-wb-advanced,
i.icon-wb-commerce, .icon-wb-commerce,
i.icon-wb-maps, .icon-wb-maps,
.icon-wb-add,
.icon-wb-chevron-right,
.icon-wb-chevron-left,
.icon-wb-add,
.icon-wb-page-selector,
.icon-wb-help,
.icon-wb-edit,
.icon-wb-play-green,
.icon-wb-spinner,
.icon-wb-text-background-color,
.icon-wb-text-show-blocks,
.icon-wb-text-clear-format,
.icon-wb-text-color,
.ico-tb-save,
.ico-tb-savedraft,
.ico-tb-backup,
.ico-tb-changetpl,
.ico-tb-import,
.ico-tb-resettpl,
.ico-tb-preview,
.ico-tb-undo,
.ico-tb-redo,
.ico-tb-reset,
.ico-tb-mode,
.ico-tb-mode-tv,
.ico-tb-mode-desktop,
.ico-tb-mode-tablet,
.ico-tb-mode-phone,
.ico-tb-facebook-fans,
.ico-tb-facebook-like,
.ico-tb-share,
.ico-tb-table,
.ico-tb-flickr-gallery,
.ico-tb-skype-imonline,
.ico-tb-musicplayer,
.ico-tb-banner,
.ico-tb-flash,
.ico-tb-google-adsense,
.ico-tb-html,
.ico-tb-buynow,
.ico-tb-store,
.ico-tb-store-cart,
.ico-tb-settings,
.ico-tb-seo,
.ico-tb-background,
.ico-tb-styles,
.ico-tb-pages,
.ico-tb-favicon,
.ico-tb-landing,
.ico-tb-grid,
.ico-tb-snap,
.ico-tb-layout,
.ico-tb-fullscreen,
.ico-tb-sign-in,
.ico-tb-logout,
.ico-tb-auto-layout,
.ico-tb-blocks,
#wb_config_btn .icon-cog-big, .icon-cog-big,
.ico-pl-vkontakte_community,
.ico-pl-vkontakte_like,
.ico-pl-odnoklassniki,
.ico-pl-odnoklassniki_share,
.ico-pl-gplus_like,
.ico-pl-gplus_badge,
.ico-pl-pinterest,
.ico-pl-webmoney_button,
.ico-pl-webmoney_widget,
.ico-pl-ecwid,
.ico-pl-yandex_maps,
.ico-pl-baidu_maps,
.ico-pl-bing_maps,
.ico-pl-daum_maps,
.ico-pl-naver_maps,
.ico-pl-vimeo,
.ico-pl-linkedin_share,
.ico-pl-linkedin,
.ico-pl-skrill,
.ico-pl-alipay,
.ico-pl-webpay,
.ico-pl-klarna,
.ico-pl-adsense,
.ico-pl-paymentez,
.ico-pl-getbutton,
.ico-pl-wp,
.ico-pl-pagseguro,
.ico-pl-payumoney,
.ico-pl-payu,
.ico-pl-paysera,
.ico-pl-mpesa,
.ico-pl-liqpay,
.ico-pl-payfast,
.ico-pl-stripe,
.ico-pl-qiwi,
.ico-pl-qiwi_kz,
.ico-pl-paytrail,
.ico-pl-expresspay,
.ico-pl-epayco,
.ico-pl-rutube_video,
.ico-pl-vk_video,
.ico-pl-vkontakte_comment,
.ico-pl-smartarget,
.ico-tb-domains,
.ico-pl-2checkout,
.ico-pl-yandex_kassa,
.ico-pl-mercado,
.ico-pl-ideal_payment,
.ico-pl-youku,
.ico-pl-google_calendar,
.ico-pl-instagram,
.ico-pl-baokim,
.ico-pl-robokassa,
.ico-pl-olark,
.ico-pl-dragonpay,
.ico-pl-easypay,
.ico-pl-assist,
.ico-pl-7_connect,
.ico-pl-iyzico,
.ico-pl-linepay,
.ico-pl-zopim,
.ico-pl-tawkto,
.ico-pl-epaybg,
.ico-pl-gestpay,
.ico-pl-mollie,
.ico-pl-braintree,
.ico-pl-platron,
.ico-pl-epsilon,
.ico-pl-click,
.ico-pl-redsys,
.ico-pl-payme,
.ico-pl-bepaid,
.ico-pl-spotify,
.ico-pl-effect,
.ico-pl-accordion-accordion,
.ico-pl-accordion-slider,
.ico-pl-accordion-tabs,
.ico-pl-bookingmood,
.ico-pl-mix-layout,
.ico-pl-block-layout,
.ico-pl-horizontal-layout,
.ico-pl-vertical-layout,
.ico-pl-telegram_widget,
.ico-pl-facebook_comment,
.ico-calendar1,
.ico-pl-m-pesa,
.ico-pl-openstreetmap,
.ico-pl-tiktok-square,
.ico-pl-tiktok,
.ico-pl-twitter-x-square,
.ico-pl-twitter-x,
.ico-pl-twitter,
.ico-pl-coinpayments
{
	font-family: FontAwesome !important;
	font-size: 22px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	color: #333333;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	text-align: center;
	vertical-align: middle;
	speak: none;
}
.icon-wb-play-green {
	width: 18px !important;
	height: 18px !important;
	line-height: 18px !important;
	font-size: 18px !important;
	vertical-align: top;
}
.ico-pl-mix-layout {
	width: 23px !important;
	height: 23px !important;
	line-height: 23px !important;
	font-size: 23px !important;
}
.ico-tb-text:before { content: "\f031"; }
.ico-tb-picture:before { content: "\f03e"; }
.ico-tb-gallery:before { content: "\f009"; }
.ico-tb-youtube:before { content: "\f16a"; }
.ico-tb-google-maps:before { content: "\e962"; font-family: builder-ui-icons-plugins !important; }
.ico-tb-shape:before { content: "\f096"; }
.ico-tb-line:before { content: "\f068"; }
.ico-tb-button:before { content: "\f045"; }
.ico-tb-form:before { content: "\f022"; }
.ico-tb-menu:before { content: "\f0e8"; }
.ico-tb-lang:before { content: "\f1ab"; }
.icon-wb-admin:before { content: "\f06e"; }
.icon-wb-social:before { content: "\f0c0"; }
.icon-wb-advanced:before { content: "\f085"; }
.icon-wb-commerce:before { content: "\f07a"; }
.icon-wb-maps:before { content: "\f278"; }
.icon-wb-add:before { content: "\f067"; }
.icon-wb-chevron-right:before { content: "\f054"; }
.icon-wb-chevron-left:before { content: "\f053"; }
.icon-wb-page-selector:before { content: "\f0c9"; } /* f03c, f039 */
.icon-wb-help:before { content: "\f128"; }
.icon-wb-edit:before { content: "\f040"; }
.icon-wb-play-green:before { content: "\f144"; }
.icon-wb-spinner:before { content: "\f110"; }
.icon-wb-text-background-color:before { content: "\e93b"; font-family: builder-ui-icons-plugins !important; }
.icon-wb-text-show-blocks:before      { content: "\e93c"; font-family: builder-ui-icons-plugins !important; }
.icon-wb-text-clear-format:before     { content: "\e93d"; font-family: builder-ui-icons-plugins !important; }
.icon-wb-text-color:before            { content: "\e93e"; font-family: builder-ui-icons-plugins !important; }
.ico-tb-save:before { content: "\f0c7"; }
.ico-tb-savedraft:before { content: "\f0ee"; }
.ico-tb-backup:before { content: "\f019"; }
.ico-tb-changetpl:before { content: "\f00a"; }
.ico-tb-resettpl:before { content: "\f021"; }
.ico-tb-import:before { content: "\f0ed"; }
.ico-tb-preview:before { content: "\f06e"; }
.ico-tb-undo:before { content: "\f0e2"; }
.ico-tb-redo:before { content: "\f01e"; }
.ico-tb-reset:before { content: "\f016"; }
.ico-tb-mode:before { content: "\f10b"; }
.ico-tb-mode-tv:before { content: "\f26c"; }
.ico-tb-mode-desktop:before { content: "\f109"; }
.ico-tb-mode-tablet:before { content: "\f10a"; }
.ico-tb-mode-phone:before { content: "\f10b"; }
.ico-tb-facebook-fans:before { content: "\f09a"; }
.ico-tb-facebook-like:before { content: "\f087"; }
.ico-tb-share:before { content: "\f1e0"; }
.ico-tb-table:before { content: "\f0ce"; }
.ico-tb-flickr-gallery:before { content: "\f16e"; }
.ico-tb-skype-imonline:before { content: "\f17e"; }
.ico-tb-musicplayer:before { content: "\f001"; }
.ico-tb-banner:before { content: "\f0c8"; }
.ico-tb-flash:before { content: "\f110"; }
.ico-tb-google-adsense:before { content: "\f1ea"; }
.ico-tb-html:before { content: "\f121"; }
.ico-tb-buynow:before { content: "\f1ed"; }
.ico-tb-store:before { content: "\f07a"; }
.ico-tb-store-cart:before { content: "\f291"; }
.ico-tb-settings:before { content: "\f013"; }
.ico-tb-seo:before { content: "\f201"; }
.ico-tb-background:before { content: "\f247"; }
.ico-tb-styles:before { content: "\f034"; }
.ico-tb-pages:before { content: "\f0c5"; }
.ico-tb-favicon:before { content: "\f25d"; }
.ico-tb-landing:before { content: "\f0c9"; }
.ico-tb-grid:before { content: "\f00a"; }
.ico-tb-snap:before { content: "\f029"; }
.ico-tb-layout:before { content: "\f0db"; }
.ico-tb-fullscreen:before { content: "\f065"; }
.ico-tb-sign-in:before { content: "\f090"; }
.ico-tb-logout:before { content: "\f08b"; }
.ico-tb-auto-layout:before { content: "\f0d0"; }
.ico-tb-blocks:before { content: "\f247"; }
#wb_config_btn .icon-cog-big {
	width: 18px !important;
	height: 18px !important;
	line-height: 18px !important;
	font-size: 18px !important;
	margin-top: -2px;
}
#wb_config_btn .icon-cog-big:before, .icon-cog-big:before { content: "\f013"; }
.ico-pl-vkontakte_community img,
.ico-pl-vkontakte_like img,
.ico-pl-odnoklassniki img,
.ico-pl-odnoklassniki_share img,
.ico-pl-gplus_like img,
.ico-pl-gplus_badge img,
.ico-pl-pinterest img,
.ico-pl-webmoney_button img,
.ico-pl-webmoney_widget img,
.ico-pl-ecwid img,
.ico-pl-yandex_maps img,
.ico-pl-baidu_maps img,
.ico-pl-bing_maps img,
.ico-pl-vimeo img,
.ico-pl-linkedin_share img,
.ico-pl-linkedin img,
.ico-pl-skrill img,
.ico-pl-alipay img,
.ico-pl-webpay img,
.ico-pl-getbutton img,
.ico-pl-wp img,
.ico-pl-klarna img,
.ico-pl-adsense img,
.ico-pl-paymentez img,
.ico-pl-pagseguro img,
.ico-pl-payumoney img,
.ico-pl-payu img,
.ico-pl-paysera img,
.ico-pl-mpesa img,
.ico-pl-liqpay img,
.ico-pl-payfast img,
.ico-pl-stripe img,
.ico-pl-qiwi img,
.ico-pl-qiwi_kz img,
.ico-pl-paytrail img,
.ico-pl-expresspay img,
.ico-pl-epayco img,
.ico-pl-rutube_video img,
.ico-pl-vk_video img,
.ico-pl-vkontakte_comment img,
.ico-pl-smartarget img,
.ico-tb-domains img,
.ico-pl-2checkout img,
.ico-pl-yandex_kassa img,
.ico-pl-mercado img,
.ico-pl-ideal_payment img,
.ico-pl-youku img,
.ico-pl-instagram img,
.ico-pl-baokim img,
.ico-pl-robokassa img,
.ico-pl-olark img,
.ico-pl-dragonpay img,
.ico-pl-easypay img,
.ico-pl-assist img,
.ico-pl-7_connect img,
.ico-pl-iyzico img,
.ico-pl-linepay img,
.ico-pl-zopim img,
.ico-pl-tawkto img,
.ico-pl-epaybg img,
.ico-pl-gestpay img,
.ico-pl-mollie img,
.ico-pl-braintree img,
.ico-pl-platron img,
.ico-pl-epsilon img,
.ico-pl-click img,
.ico-pl-redsys img,
.ico-pl-payme img,
.ico-pl-bepaid img,
.ico-pl-spotify img,
.ico-pl-effect img,
.ico-pl-accordion-accordion img,
.ico-pl-accordion-slider img,
.ico-pl-accordion-tabs img,
.ico-pl-bookingmood img,
.ico-pl-mix-layout img,
.ico-pl-block-layout img,
.ico-pl-horizontal-layout img,
.ico-pl-vertical-layout img,
.ico-pl-telegram_widget img,
.ico-pl-google_calendar img,
.ico-pl-facebook_comment img,
.ico-calendar1 img,
.ico-pl-m-pesa img,
.ico-pl-openstreetmap img,
.ico-pl-tiktok-square img,
.ico-pl-tiktok img,
.ico-pl-twitter-x-square img,
.ico-pl-twitter-x img,
.ico-pl-twitter img,
.ico-pl-coinpayments img
{
	display: none;
}
.ico-pl-vkontakte_community:before { content: "\f189"; }
.ico-pl-vkontakte_like:before { content: "\f189"; }
.ico-pl-odnoklassniki:before { content: "\f263"; }
.ico-pl-odnoklassniki_share:before { content: "\f263"; }
.ico-pl-gplus_like:before { content: "\f0d5"; }
.ico-pl-gplus_badge:before { content: "\f0d5"; }
.ico-pl-pinterest:before { content: "\f231"; }
.ico-pl-webmoney_button:before { content: "\e908"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-webmoney_widget:before { content: "\e908"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-ecwid:before { content: "\e903"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-yandex_maps:before { content: "\e95e"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-baidu_maps:before { content: "\e965"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-bing_maps:before { content: "\e964"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-vimeo:before { content: "\f27d"; }
.ico-pl-linkedin_share:before { content: "\f0e1"; }
.ico-pl-linkedin:before { content: "\f0e1"; }
.ico-pl-skrill:before { content: "\e907"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-alipay:before { content: "\e902"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-webpay:before { content: "\e909"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-wp:before { content: "\e909"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-pagseguro:before { content: "\e905"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-payumoney:before { content: "\e900"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-payu:before { content: "\e900"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-paysera:before { content: "\e906"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-mpesa:before { content: "\e926"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-liqpay:before { content: "\e90c"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-payfast:before { content: "\e914"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-stripe:before { content: "\e90d"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-qiwi:before { content: "\e910"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-qiwi_kz:before { content: "\e910"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-paytrail:before { content: "\e927"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-expresspay:before { content: "\e959"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-epayco:before { content: "\e95d"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-rutube_video:before { content: "\e95a"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-vk_video:before { content: "\e95b"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-vkontakte_comment:before { content: "\e95b"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-smartarget:before { content: "\e95c"; font-family: builder-ui-icons-plugins !important; }
.ico-tb-domains:before { content: "\e928"; font-family: builder-ui-icons-plugins !important; font-size: 20px !important; }
.ico-pl-2checkout:before { content: "\e90e"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-yandex_kassa:before { content: "\e912"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-mercado:before { content: "\e90f"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-ideal_payment:before { content: "\e904"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-youku:before { content: "\f01d"; }
.ico-pl-google_calendar:before { content: "\f073"; }
.ico-pl-daum_maps:before { content: "\e963"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-naver_maps:before { content: "\e95f"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-facebook_comment:before { content: "\f0e5"; }
.ico-pl-instagram:before { content: "\f16d"; }
.ico-pl-spotify:before { content: "\f1bc"; }
.ico-pl-baokim:before { content: "\e925"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-robokassa:before { content: "\e911"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-olark:before { content: "\e901"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-dragonpay:before { content: "\e90a"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-easypay:before { content: "\e90b"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-assist:before { content: "\e913"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-7_connect:before { content: "\e918"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-iyzico:before { content: "\e915"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-linepay:before { content: "\e916"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-zopim:before { content: "\e93a"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-tawkto:before { content: "\e919"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-epaybg:before { content: "\e91c"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-gestpay:before { content: "\e91b"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-mollie:before { content: "\e91d"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-braintree:before { content: "\e91e"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-platron:before { content: "\e91f"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-epsilon:before { content: "\e922"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-click:before { content: "\e923"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-redsys:before { content: "\e924"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-payme:before { content: "\e91a"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-bepaid:before { content: "\e920"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-effect:before { content: "\e921"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-accordion-accordion:before { content: "\e966"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-accordion-slider:before { content: "\e967"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-accordion-tabs:before { content: "\e968"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-bookingmood:before { content: "\e969"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-mix-layout:before { content: "\e929"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-block-layout:before { content: "\e92a"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-horizontal-layout:before { content: "\e92b"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-vertical-layout:before { content: "\e92c"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-telegram_widget:before { content: "\f2c6"; }
.ico-pl-klarna:before { content: "\e931"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-adsense:before { content: "\e956"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-getbutton:before { content: "\e932"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-paymentez:before { content: "\e933"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-mellat:before { content: "\e934"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-libelula:before { content: "\e960"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-aparat:before { content: "\e961"; font-family: builder-ui-icons-plugins !important; }
.ico-404:before { content: "\e96b"; font-family: builder-ui-icons-plugins !important; }
.ico-calendar1:before { content: "\e96c"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-m-pesa:before { content: "\e96f"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-openstreetmap:before { content: "\e970"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-tiktok-square:before { content: "\e971"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-tiktok:before { content: "\e972"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-twitter-x-square:before { content: "\e973"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-twitter-x:before { content: "\e974"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-twitter:before { content: "\e974"; font-family: builder-ui-icons-plugins !important; }
.ico-pl-coinpayments:before { content: "\e96a"; font-family: builder-ui-icons-plugins !important; }

.wbico {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'builder-ui-icons-plugins' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.wbico:before {
	text-decoration: none !important;
}

.wbico-block-layout:before { content: "\e92a"; }
.wbico-horizontal-layout:before { content: "\e92b"; }
.wbico-vertical-layout:before { content: "\e92c"; }
.wbico-gallery-thumbs:before { content: "\e92d"; }
.wbico-gallery-masonry:before { content: "\e92e"; }
.wbico-gallery-slideshow:before { content: "\e92f"; }
.wbico-gallery-list:before { content: "\e930"; }
.wbico-gallery-map:before { content: "\e958"; }
.wbico-line-dotted:before { content: "\e940"; }
.wbico-line-none:before { content: "\e941"; }
.wbico-line-solid:before { content: "\e942"; }
.wbico-line-dashed:before { content: "\e943"; }
.wbico-line-double:before { content: "\e944"; }

.wbico-align-bottom:before { content: "\e93f"; }
.wbico-align-center:before { content: "\e949"; }
.wbico-align-middle:before { content: "\e94a"; }
.wbico-align-inside-mode:before { content: "\e94b"; }
.wbico-align-left:before { content: "\e94c"; }
.wbico-align-outside-mode:before { content: "\e94d"; }
.wbico-align-right:before { content: "\e94e"; }
.wbico-align-space-around-horizontal:before { content: "\e94f"; }
.wbico-align-space-around-vertical:before { content: "\e950"; }
.wbico-align-space-between-horizontal:before { content: "\e951"; }
.wbico-align-space-between-vertical:before { content: "\e952"; }
.wbico-align-stretch-horizontal:before { content: "\e953"; }
.wbico-align-stretch-vertical:before { content: "\e954"; }
.wbico-align-top:before { content: "\e955"; }
.wbico-reset:before { content: "\e96d"; }
.wbico-ai-assistant:before { content: "\e96e"; }

.btn-link > .wbico { margin-left: 0 !important; margin-right: 0 !important; }
.btn-link > .wbico:after { content: ' '; }

.wb-icons {
	display: inline-block;
	font: normal normal normal 14px/1 'builder-ui-icons-plugins';
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: inherit;
}

#head {
	background: #ffffff;
}

#head-tools {
	background: #f9f9f9;
}

#head .wb_badge_help {
	background: transparent;
	border-color: #333333;
	color: #333333;
	margin-top: -2px;
	display: inline-block;
	vertical-align: middle;
}

.btn-wb-item {
	padding: 0px !important;
	border: none;
	background: transparent;
	text-shadow: none;
	box-shadow: none;
}

#settings-toolbar-cont button.btn, .lang-selector button.btn {
	border: 1px solid #dddddd;
	background: #ffffff;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	text-shadow: none;
	box-shadow: none;
}
#settings-toolbar-cont button.btn:hover, .lang-selector button.btn:hover {
	background: #f0f0f0;
}
#settings-toolbar-cont button.btn-danger {
	border: 1px solid #d43f3a;
	background: #d9534f;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	text-shadow: none;
	box-shadow: none;
}
#settings-toolbar-cont button.btn-danger:hover {
	background: #c9302c;
	border-color: #ac2925;
}
#settings-toolbar-cont .open button.btn.dropdown-toggle {
	background: #e6e6e6;
}

#settings-toolbar-cont input[type=text]:not(.input-search) {
	border: 1px solid #dddddd;
	background: #ffffff;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	text-shadow: none;
	box-shadow: none;
}

.wb-prm-btn a:before, .wb-tiny-btn a:before {
	content: "\f005";
	display: inline-block;
	font-family: FontAwesome !important;
	font-size: 16px;
	position: relative;
	top: 2px;
	margin-left: 1px;
	margin-right: 4px;
	line-height: 1px;
}

.wb_toolbar_help {
	border: none;
	background-color: #59bc00;
}
.ico-tb-help {
	background-image: none!important;
}
.ico-tb-help:before {
	content: "\f128";
	font-family: FontAwesome !important;
	font-size: 40px;
	font-style: normal;
	font-weight: normal;
	line-height: 40px;
	color: #fff;
}

.wb_toolbar_repo {
	border: none;
	background-color: #d50123;
}
.ico-tb-report {
	background-image: none!important;
}
.ico-tb-report:before {
	content: "\f12a";
	font-family: FontAwesome !important;
	font-size: 40px;
	font-style: normal;
	font-weight: normal;
	line-height: 40px;
	color: #fff;
}

.lang-selector i[class^="flag-icon-"] {
	top: 2px;
}

.checked-marker {
	background: transparent;
	top: -7px;
}

.checked-marker:before {
	content: "\f00c";
	font-family: FontAwesome !important;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 14px;
}
